<div class="container">

    <div>
      <h1>Chuck Norris Jokes</h1>
      <form ng-submit="vm.submit(vm.numJokes)" name="norrisJokeNum" >
        <div>
          <input type="text" placeholder="How many jokes?" class="username" ng-model="vm.numJokes" minlength="1" required>
        </div>
      </form>
    </div>
  <p class="error" ng-if="vm.isInvalid">Error. Please type in valid username.</p>
  <div class="loader" ng-show="vm.isLoading">Loading...</div>
  
  <ol>
    <li ng-repeat="joke in vm.jokes " class="tweets">
    {{joke.joke}}
    </li>

  </ol>
</div>